@font-face{
  font-family: 'PingFangBold';
  src : url('../../assets/fonts/PingFangBold.ttf');
}
#app {
  font-family: PingFangBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
  margin-top: 60px;
  transform: rotate(0deg);

  .bg01{
    width: 400px;
    height: 400px;
    background:url(../../assets/images/banner06.jpg) no-repeat center center;
  }

  .flex{
    display: flex;
    justify-content: center;
    align-items: right;
    &>div{
      width: 100px;
      height: 100px;
      line-height: 100px;
    }
  }
}